[submodule "sources_non_forked/vim-rails"]
	path = sources_non_forked/vim-rails
	url = git@github.com:tpope/vim-rails.git
[submodule "sources_non_forked/vim-test"]
	path = sources_non_forked/vim-test
	url = git@github.com:janko-m/vim-test.git
[submodule "sources_non_forked/nerdcommenter"]
	path = sources_non_forked/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "sources_non_forked/vim-easy-align"]
	path = sources_non_forked/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
